BasedOnStyle: Google
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeTernaryOperators: false
BreakAfterTernaryOperator: false
BinPackArguments: true
BinPackParameters: true
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakAssignment: 0
PenaltyBreakBeforeTernaryOperators: 0
PenaltyBreakTernary: 0
PenaltyBreakString: 0
PenaltyBreakComment: 0
ColumnLimit: 200
IndentWidth: 4
