.env
node_modules
youtubeCache
niconicoCache
twitterCache
twitterThumbnailCache
videoInfoCache.json
cache.jsonl
env.json
globalEnv.json
*.d.ts
*.js
package-lock.json
.DS_Store
!types/**/*.d.ts
!webAudioAPI/worklet/**/*.js
!docs/**/*
musicBrainzCache.json
log
cacheJSONs
voiceFolder
._*
.DS_Store
*.pcm
.next
tsconfig.tsbuildinfo
