.env
node_modules
youtubeCache
niconicoCache
videoInfoCache.json
cache.jsonl
env.json
*.d.ts
*.js
package-lock.json
.DS_Store
!types/**/*.d.ts
!webAudioAPI/worklet/**/*.js
musicBrainzCache.json
log
cacheJSONs
